.answer-button {
    display: inline-block;
    font-size: 15px;
    height: 30px;
    width: 70%;
    margin: 10px;
}

.question {
    font-size: 20px;
    margin: 20px;
}

.answers {
    margin:10px;
}

.answer-button:hover {
    background-color: lightblue;
}

.answer-button-selected {
    display: inline-block;
    font-size: 15px;
    height: 30px;
    width: 70%;
    margin: 10px;
    background-color: lightblue;
}